Repository Boruc04/WeddingWeb: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

pipelines/boruc.wedding.master.yml:
  name: Boruc.WeddingWeb.Master-$(FullSemVer)
  stages:
  - stage: Build
    displayName: Wedding.Web.Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      variables:
      - name: projectPath
        value: src/**/WeddingWeb.csproj
      - name: buildConfiguration
        value: Release
  ...

pipelines/boruc.wedding.pullrequest.yml:
  name: Boruc.WeddingWeb.PullRequest-$(FullSemVer)
  stages:
  - stage: Prepare
    displayName: Wedding.Web.Prepare
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Build
      displayName: Build & Test App
      dependsOn: []
      variables:
      - name: projectPath
        value: src/**/WeddingWeb.csproj
  ...

Adding guard
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/src/app/app-routing.module.ts
  src/Web/WeddingWeb/ClientApp/src/app/framework/framework.module.ts
  src/Web/WeddingWeb/ClientApp/src/app/framework/guards/CanLoadPhotoAndVideoGuard.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Remove not used github workflows
  .github/workflows/codeql-analysis.yml
Due: none

Remove not used github workflows (#29)
  .github/workflows/codeql-analysis.yml
Due: none

Add aad guards for video and gallery uri
  src/Web/WeddingWeb/ClientApp/src/app/app-routing.module.ts
  src/Web/WeddingWeb/ClientApp/src/app/app.component.html
  src/Web/WeddingWeb/ClientApp/src/app/app.component.ts
  src/Web/WeddingWeb/ClientApp/src/app/app.module.ts
  src/Web/WeddingWeb/ClientApp/src/app/footer/footer.component.ts
  src/Web/WeddingWeb/ClientApp/src/app/gallery/video/video.component.ts
  src/Web/WeddingWeb/ClientApp/src/index.html
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update @angular/material to the 11.2.13 version to match angular cdk
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Further work on aad not finished
  src/Web/WeddingWeb/ClientApp/src/app/app.module.ts
  src/Web/WeddingWeb/Controllers/GalleryController.cs
  src/Web/WeddingWeb/Startup.cs
  src/Web/WeddingWeb/WeddingWeb.csproj
  src/Web/WeddingWeb/appsettings.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Add msal angular
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Further work on the images called from apis
  img/architecture_diagram.vsdx
  src/Web/WeddingWeb/ClientApp/src/app/app.module.ts
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.html
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/pipes/protect-image.pipe.ts
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.html
  src/Web/WeddingWeb/ClientApp/src/app/gallery/gallery.module.ts
  src/Web/WeddingWeb/ClientApp/src/app/gallery/video/video.component.ts
  src/Web/WeddingWeb/Controllers/GalleryController.cs
  src/Web/WeddingWeb/Startup.cs
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Gallery is workign with authroization
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.html
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/pipes/protect-image.pipe.ts
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/_viewer-theme.scss
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.html
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.scss
  src/Web/WeddingWeb/ClientApp/src/custom-theme.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Adjust photos on the mobile
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/pipes/protect-image.pipe.ts
  src/Web/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update renew-certificate.md
  infrastructure/cert/renew-certificate.md
Due: pipelines/boruc.wedding.pullrequest.yml

Update README.md
  README.md
Due: none

Bump to the net 6.0
  src/Tests/WeddingWeb.Tests/WeddingWeb.Tests.csproj
  src/Web/WeddingWeb.Domain/WeddingWeb.Domain.csproj
  src/Web/WeddingWeb/Program.cs
  src/Web/WeddingWeb/Startup.cs
  src/Web/WeddingWeb/WeddingWeb.csproj
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

update readme
  README.md
Due: none

Update pipeline dotnet instalation step
  build/boruc.wedding.master.yml
  build/boruc.wedding.pullrequest.yml
Due: none

Update nuget packages.
  src/Tests/WeddingWeb.Tests/WeddingWeb.Tests.csproj
  src/Web/WeddingWeb.Domain/WeddingWeb.Domain.csproj
  src/Web/WeddingWeb/WeddingWeb.csproj
  src/WeddingWeb.sln
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update angular packages
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update angular to v12
  src/Web/WeddingWeb/ClientApp/angular.json
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
  src/Web/WeddingWeb/ClientApp/src/polyfills.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Bump angular material to v12
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
  src/Web/WeddingWeb/ClientApp/src/app/confirm/_confirmation-theme.scss
  src/Web/WeddingWeb/ClientApp/src/app/footer/_footer-theme.scss
  src/Web/WeddingWeb/ClientApp/src/app/navbar/_navbar-theme.scss
  src/Web/WeddingWeb/ClientApp/src/custom-theme.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

update schematics/angular v12
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

wupdate typescript
  src/Web/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

u[date angular to v13
  src/Web/WeddingWeb/ClientApp/.gitignore
  src/Web/WeddingWeb/ClientApp/angular.json
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
  src/Web/WeddingWeb/ClientApp/src/polyfills.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

update material to v13
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
  src/Web/WeddingWeb/ClientApp/src/app/confirm/_confirmation-theme.scss
  src/Web/WeddingWeb/ClientApp/src/app/footer/_footer-theme.scss
  src/Web/WeddingWeb/ClientApp/src/app/navbar/_navbar-theme.scss
  src/Web/WeddingWeb/ClientApp/src/custom-theme.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Fix website so it will work.
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
  src/Web/WeddingWeb/ClientApp/src/main.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Bump to the net 6.0 (#31)
  README.md
  build/boruc.wedding.master.yml
  build/boruc.wedding.pullrequest.yml
  src/Tests/WeddingWeb.Tests/WeddingWeb.Tests.csproj
  src/Web/WeddingWeb.Domain/WeddingWeb.Domain.csproj
  src/Web/WeddingWeb/ClientApp/.gitignore
  src/Web/WeddingWeb/ClientApp/angular.json
  src/Web/WeddingWeb/ClientApp/package-lock.json
  src/Web/WeddingWeb/ClientApp/package.json
  src/Web/WeddingWeb/ClientApp/src/app/confirm/_confirmation-theme.scss
  src/Web/WeddingWeb/ClientApp/src/app/footer/_footer-theme.scss
  src/Web/WeddingWeb/ClientApp/src/app/navbar/_navbar-theme.scss
  src/Web/WeddingWeb/ClientApp/src/custom-theme.scss
  src/Web/WeddingWeb/ClientApp/src/main.ts
  src/Web/WeddingWeb/ClientApp/src/polyfills.ts
  src/Web/WeddingWeb/Program.cs
  src/Web/WeddingWeb/Startup.cs
  src/Web/WeddingWeb/WeddingWeb.csproj
  src/WeddingWeb.sln
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Path conditions:
  pipelines/boruc.wedding.master.yml: any of: src
  pipelines/boruc.wedding.pullrequest.yml: any of: src, infrastructure
