Repository Boruc04/WeddingWeb: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

pipelines/boruc.wedding.master.yml:
  name: Boruc.WeddingWeb.Master-$(FullSemVer)
  stages:
  - stage: Build
    displayName: Wedding.Web.Build
    jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest
      variables:
      - name: projectPath
        value: src/**/WeddingWeb.csproj
      - name: buildConfiguration
        value: Release
  ...

pipelines/boruc.wedding.pullrequest.yml:
  name: Boruc.WeddingWeb.PullRequest-$(FullSemVer)
  stages:
  - stage: Prepare
    displayName: Wedding.Web.Prepare
    pool:
      vmImage: ubuntu-latest
    jobs:
    - job: Build
      displayName: Build & Test App
      dependsOn: []
      variables:
      - name: projectPath
        value: src/**/WeddingWeb.csproj
  ...

Update readme regarding how to update galllery and remove angular readme
  README.md
  src/WeddingWeb/ClientApp/README.md
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Adjust footers and navbar after adding new tabs.
  src/WeddingWeb/ClientApp/src/app/app.component.scss
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.html
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.scss
  src/WeddingWeb/ClientApp/src/app/navbar/navbar.component.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Video additional note
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Introduce gallery
  src/WeddingWeb/ClientApp/src/app/app.module.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.spec.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

introduce the test env
  src/WeddingWeb/ClientApp/src/app/app.component.ts
  src/WeddingWeb/ClientApp/src/environments/environment.prod.ts
  src/WeddingWeb/ClientApp/src/environments/environment.ts
  src/WeddingWeb/ClientApp/src/main.ts
  src/WeddingWeb/appsettings.Test.json
  src/WeddingWeb/appsettings.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Remove npm angular2-image-gallery and add it source code.
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/LICENCE.txt
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/services/image.service.ts
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery.module.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Start updating packa-lock
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update README.md
  README.md
Due: none

Intro web gallery
  src/WeddingWeb/ClientApp/src/app/app-routing.module.ts
  src/WeddingWeb/ClientApp/src/app/app.module.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery.module.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.spec.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.ts
  src/WeddingWeb/ClientApp/src/app/navbar/navbar.component.html
  src/WeddingWeb/ClientApp/src/app/navbar/navbar.component.ts
  src/WeddingWeb/ClientApp/src/main.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Change appsettings and and development appsettings
  .gitignore
  src/WeddingWeb/appsettings.Development.json
  src/WeddingWeb/appsettings.Production.json
  src/WeddingWeb/appsettings.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update packages
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Add github icon
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.html
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.scss
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Adding convert.js
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/convert.js
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Hack for running angular 11 application from dotnet project
  src/WeddingWeb/ClientApp/ngserve.cmd
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
  src/WeddingWeb/Properties/launchSettings.json
  src/WeddingWeb/Startup.cs
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

change order in credits section
  README.md
Due: none

anugular updat to the 11 lts versions
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Adding photo gallery
  src/WeddingWeb/ClientApp/src/app/app.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/convert.js
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery.module.ts
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update renew-certificate.md
  infrastructure/cert/renew-certificate.md
Due: pipelines/boruc.wedding.pullrequest.yml

Feature/update certificate (#20)
  infrastructure/cert/renew-certificate.md
Due: pipelines/boruc.wedding.pullrequest.yml

Update boruc.wedding.pullrequest.yml for Azure Pipelines
  pipelines/boruc.wedding.pullrequest.yml
Due: none

Changing api paths and add data.json file
  src/WeddingWeb/ClientApp/src/app/confirm/service/email.service.ts
  src/WeddingWeb/ClientApp/src/app/footer/service/version.service.ts
  src/WeddingWeb/ClientApp/src/assets/img/data.json
  src/WeddingWeb/ClientApp/src/main.ts
  src/WeddingWeb/WeddingWeb.csproj
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Fix email service
  src/WeddingWeb/ClientApp/src/app/confirm/service/email.service.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Changing api paths and add data.json file (#21)
  src/WeddingWeb/ClientApp/src/app/confirm/service/email.service.ts
  src/WeddingWeb/ClientApp/src/app/footer/service/version.service.ts
  src/WeddingWeb/ClientApp/src/assets/img/data.json
  src/WeddingWeb/ClientApp/src/main.ts
  src/WeddingWeb/WeddingWeb.csproj
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Restructure tests
  test/WeddingWeb.Domain.Tests/Domain/EmailTests.cs
  test/WeddingWeb.Domain.Tests/Domain/GuestNumberTests.cs
  test/WeddingWeb.Domain.Tests/Domain/GuestTests.cs
  test/WeddingWeb.Domain.Tests/Domain/MainEmailTests.cs
  test/WeddingWeb.Domain.Tests/WeddingWeb.Domain.Tests.csproj
Due: none

Add Codecov nuget package
  test/WeddingWeb.Domain.Tests/WeddingWeb.Domain.Tests.csproj
Due: none

Remove not needed async
  src/WeddingWeb/Controllers/GalleryController.cs
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

adding coverlet.msbuild
  test/WeddingWeb.Domain.Tests/WeddingWeb.Domain.Tests.csproj
Due: none

Path conditions:
  pipelines/boruc.wedding.master.yml: any of: src
  pipelines/boruc.wedding.pullrequest.yml: any of: src, infrastructure
