Repository Boruc04/WeddingWeb: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Path conditions:
  pipelines/boruc.wedding.master.yml: any of: src
  pipelines/boruc.wedding.pullrequest.yml: any of: src, infrastructure

Update boruc.wedding.pullrequest.yml for Azure Pipelines
  pipelines/boruc.wedding.pullrequest.yml
Due: none

Upgrade terraform taśm version
  pipelines/boruc.wedding.pullrequest.yml
Due: none

update installer
  pipelines/boruc.wedding.pullrequest.yml
Due: none

Introduce fully working terraform for both test and prod env. (#11)
  infrastructure/.gitignore
  infrastructure/terraform/main.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/prod.tfvars
  infrastructure/terraform/test.tfvars
  infrastructure/terraform/variables.tf
  pipelines/boruc.wedding.pullrequest.yml
Due: pipelines/boruc.wedding.pullrequest.yml

introduce the test env
  src/WeddingWeb/ClientApp/src/app/app.component.ts
  src/WeddingWeb/ClientApp/src/environments/environment.prod.ts
  src/WeddingWeb/ClientApp/src/environments/environment.ts
  src/WeddingWeb/ClientApp/src/main.ts
  src/WeddingWeb/appsettings.Test.json
  src/WeddingWeb/appsettings.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update readme
  README.md
Due: none

Update readme (#13)
  README.md
Due: none

Update README.md
  README.md
Due: none

Change appsettings and and development appsettings
  .gitignore
  src/WeddingWeb/appsettings.Development.json
  src/WeddingWeb/appsettings.Production.json
  src/WeddingWeb/appsettings.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Intro web gallery
  src/WeddingWeb/ClientApp/src/app/app-routing.module.ts
  src/WeddingWeb/ClientApp/src/app/app.module.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery.module.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.spec.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery/gallery.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/video/video.component.ts
  src/WeddingWeb/ClientApp/src/app/navbar/navbar.component.html
  src/WeddingWeb/ClientApp/src/app/navbar/navbar.component.ts
  src/WeddingWeb/ClientApp/src/main.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Start updating packa-lock
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Remove npm angular2-image-gallery and add it source code.
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/LICENCE.txt
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/services/image.service.ts
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery.module.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Update packages
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

anugular updat to the 11 lts versions
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Hack for running angular 11 application from dotnet project
  src/WeddingWeb/ClientApp/ngserve.cmd
  src/WeddingWeb/ClientApp/package-lock.json
  src/WeddingWeb/ClientApp/package.json
  src/WeddingWeb/Properties/launchSettings.json
  src/WeddingWeb/Startup.cs
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Adding convert.js
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/convert.js
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Add github icon
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.html
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.scss
  src/WeddingWeb/ClientApp/src/app/footer/footer.component.ts
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

Adding photo gallery
  src/WeddingWeb/ClientApp/src/app/app.component.scss
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/convert.js
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/gallery/gallery.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/components/angular2-image-gallery/viewer/viewer.component.ts
  src/WeddingWeb/ClientApp/src/app/gallery/gallery.module.ts
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.html
  src/WeddingWeb/ClientApp/src/app/gallery/photo/photo.component.scss
Due: pipelines/boruc.wedding.master.yml, pipelines/boruc.wedding.pullrequest.yml

change order in credits section
  README.md
Due: none
